
<!-- templates/appointments/home.html -->
{% extends "appointments/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<link rel="stylesheet" href="/staticfiles/images/login.jpg">
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the Healthcare Appointment Scheduling System</h1>
    <p class="lead">Simplifying healthcare appointment management for patients and doctors.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="{% url 'book_appointment' %}" role="button">Book Appointment</a>
</div>

{% endblock %}
